@import "normalize.css";

:root {
  --regular: "Montserrat-Regular", sans-serif;
  --medium: "Montserrat-Medium", sans-serif;
  --semibold: "Montserrat-Semibold", sans-serif;
  --bold: "Montserrat-Bold", sans-serif;
  --extrabold: "Montserrat-Extrabold", sans-serif;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../public/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("../public/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Extrabold";
  src: url("../public/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Alternates-Regular";
  src: url("../public/fonts/MontserratAlternates-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Alternates-Semibold";
  src: url("../public/fonts/MontserratAlternates-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: var(--regular);
}
